.language-switcher-container li {
    list-style: none;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #0044cc;
    background: #fff;
    padding: 3px;
}
.language-switcher-container li:first-child {
    border-radius: 4px 0 0 4px;
}
.language-switcher-container li:last-child {
    border-radius: 0 4px 4px 0;
}
.language-switcher-container li.active {
    background: #ccddff;
}
.language-switcher-container li:hover {
    background: #ccddff;
}
.language-switcher-container li a {
    text-decoration: none;
}
.language-switcher-container li img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 3px;
}