#lang-choose-bar {
    position: fixed;
    right: 15px;
    padding: 0;
    z-index: 1;
    background: #fff;
    /*border: 1px solid #ddd;*/
    border-right: none;
}
#lang-choose-bar .language-selector {
    /*padding: 5px 0;*/
}
#lang-choose-bar .language-selector a {
    text-decoration: none;
    display: block;
    padding: 5px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}
#lang-choose-bar .language-selector:first-child a {
    border-radius: 4px 0 0 0;
}
#lang-choose-bar .language-selector:last-child a {
    border-radius: 0 0 0 4px;
}
#lang-choose-bar .language-selector a.active {
    background: #CCEEF7;
    color: #333;
}
#lang-choose-bar .language-selector a:hover {
    background: #CCEEF7;
}
#lang-choose-bar .language-selector img {
    width: 20px;
    height: 20px;
}